@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  *{
    @apply font-poppins;
  }
}

@layer components{
  .menu-span{
    @apply block sm:hidden bg-gray-800 hover:bg-accent rounded p-1 ease-linear
    transition-all duration-300;
  }
  .sidebar-element{
    @apply  hover:underline flex justify-center duration-150 ease-linear transition-all;
  }
  .coverImg{
    background-image: url('./img/main.jpg');
    @apply bg-cover min-h-[600px] bg-center ;
    padding-top: 50px;
  }
  .nav-element{
    @apply px-2 py-1;
  }
  .nav-element:hover{
    @apply bg-black text-white ;
  }
  .active{
    @apply bg-black text-white;
  }
  .btn{
    @apply py-3 px-4 bg-white;
  }
 
  .fact{
    padding: 1.4rem;
    background-color: black;
    min-height: 100px
  }
  .card{
    @apply bg-gray-400 rounded shadow-2xl;
    min-height: 500px;
  }
  .employee-image{
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
  .company{
    
    object-fit: cover;
    display: inline-block;
   
  }
  .testimonial-image{
    @apply h-24 w-24 rounded-full shadow-md;
    object-fit: cover;
  }

  .servicesCover{
    background-image: url('./img/servicesImg.jpg');
    background-position: center ;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .login-background {
    @apply bg-gradient-to-r hover:from-indigo-300 hover:via-emerald-300 hover:to-rose-200 from-emerald-300 via-blue-300 
     to-rose-300 h-screen transition-all duration-500 ease-linear;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    position: fixed; /* Fixed position to cover the entire screen */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
  }
  .signup-background {
    @apply bg-gradient-to-r hover:from-rose-300 hover:via-amber-300 hover:to-sky-300 from-fuchsia-300 via-teal-300 
     to-lime-300 h-screen transition-all duration-500 ease-linear;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    position: fixed; /* Fixed position to cover the entire screen */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
  }
  .auth-container{
    width: clamp(300px,35vw,450px);
  }
}

@layer utilities{
  .padding-cover{
    padding: clamp(50px,5vw,100px);
  }
  .card-padding{
    padding: clamp(50px,5vw,100px) clamp(10px,3vw,100px);
  }

  
}